@model ClassLibrary.Entity.Order
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<b>Details for order: @Model.OrderId </b>
<p>Status: @Model.OrderStatus</p>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LineItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
